<script>
	import store from './store'
	export default {
		globalData: {
			store: store,
			isFringe: plus.navigator.hasNotchInScreen()
		},
		onLaunch: function() {
			console.log('App Launch');
			// #ifdef APP-PLUS
			plus.screen.lockOrientation('portrait-primary'); //默认竖屏
			const domModule = weex.requireModule('dom');
			domModule.addRule('fontFace', {
				fontFamily: 'iconfont',
				src: "url('./static/iconfont/iconfont.ttf')"
			});
			// #endif
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>

<style lang="scss">
	
	/*每个页面公共css */
	/* #ifdef APP-NVUE */
	@import '@mypui/myp-ui/base.scss';
	.iconfont {
		font-family: iconfont;
		font-size: 20rpx;
	}
	/* #endif */
</style>
