/* 主题色配置 */
$dnvue-bg-color-theme:#409EFF;//普通主题色
$dnvue-bg-color-theme-deep:#3967FF;//深色主题色
$dnvue-bg-color-theme-shallow:#BBCDFF;//浅色主题色
$dnvue-bg-color-theme-light:#E7EDFF;//淡色主题色
/* 文字颜色 */
$dnvue-text-color-main:#333333; //一级文字/正文/主标题
$dnvue-text-color-content:#666666;//二级文字/副标/常规内容
$dnvue-text-color-tips:#999999;//三级文字/补充描述/辅助内容
$dnvue-text-color-light:#CDCDCD;//四级文字/占位内容
/* 边框颜色 */
$dnvue-border-color:#DCDFE6; //普通边框
$dnvue-border-color-deep:#E4E7ED;//深色边框
$dnvue-border-color-shallow:#EDEEF5;//浅色边框
$dnvue-border-color-light:#F2F6FC;//淡色边框
/* 黑 */
$dnvue-bg-color-black:#000000;//普通黑色
$dnvue-bg-color-black-deep:#333333;//深色黑色
$dnvue-bg-color-black-shallow:#666666;//浅色黑色
$dnvue-bg-color-black-light:#999999;//淡色黑色
/* 白 */
$dnvue-bg-color-white:#FFFFFF;//普通白色
$dnvue-bg-color-white-deep:#F8F8F8;//深色白色
$dnvue-bg-color-white-shallow:#F4F4F4;//浅色白色
$dnvue-bg-color-white-light:#F1F1F1;//淡色白色
/* 灰 */
$dnvue-bg-color-gray:#999999;//普通灰色
$dnvue-bg-color-gray-deep:#828282;//深色灰色
$dnvue-bg-color-gray-shallow:#CDCDCD;//浅色灰色
$dnvue-bg-color-gray-light:#F4F4F4;//淡色灰色
/* 红 */
$dnvue-bg-color-red:#FA3534;//普通红色
$dnvue-bg-color-red-deep:#DD6161;//深色红色
$dnvue-bg-color-red-shallow:#FAB6B6;//浅色红色
$dnvue-bg-color-red-light:#FEF0F0;//淡色红色
/* 橙 */
$dnvue-bg-color-orange:#FFA500;//普通橙色
$dnvue-bg-color-orange-deep:#FF8C00;//深色橙色
$dnvue-bg-color-orange-shallow:#FFDA9D;//浅色橙色
$dnvue-bg-color-orange-light:#FFEBCD;//淡色橙色
/* 黄 */
$dnvue-bg-color-yellow:#FFF259;//普通黄色
$dnvue-bg-color-yellow-deep:#FFD700;//深色黄色
$dnvue-bg-color-yellow-shallow:#FAFAD2;//浅色黄色
$dnvue-bg-color-yellow-light:#FFFFED;//淡色黄色
/* 绿 */
$dnvue-bg-color-green:#19BE6B;//普通绿色
$dnvue-bg-color-green-deep:#18B566;//深色绿色
$dnvue-bg-color-green-shallow:#71D5A1;//浅色绿色
$dnvue-bg-color-green-light:#DBF1E1;//淡色绿色
/* 青 */
$dnvue-bg-color-cyan:#63FFFA;//普通青色
$dnvue-bg-color-cyan-deep:#00FFFF;//深色青色
$dnvue-bg-color-cyan-shallow:#BBFFFD;//浅色青色
$dnvue-bg-color-cyan-light:#E4FFFD;//淡色青色
/* 蓝 */
$dnvue-bg-color-blue:#409EFF;//普通蓝色
$dnvue-bg-color-blue-deep:#3967FF;//深色蓝色
$dnvue-bg-color-blue-shallow:#BBCDFF;//浅色蓝色
$dnvue-bg-color-blue-light:#E7EDFF;//淡色蓝色
/* 紫 */
$dnvue-bg-color-purple:#BA55D3;//普通紫色
$dnvue-bg-color-purple-deep:#BF3EFF;//深色紫色
$dnvue-bg-color-purple-shallow:#E0AAFF;//浅色紫色
$dnvue-bg-color-purple-light:#EED2EE;//淡色紫色
/* 文字尺寸 */
$unify-text-xs:20rpx;
$unify-text-sm:24rpx;
$unify-text-md:28rpx;
$unify-text-lg:32rpx;
$unify-text-xl:48rpx;
$unify-text-xxl:64rpx;
/* 内外边距 */
$unify-distance-xs:8rpx;
$unify-distance-sm:16rpx;
$unify-distance-md:24rpx;
$unify-distance-lg:32rpx;
$unify-distance-xl:40rpx;
$unify-distance-xxl:56rpx;
/* 圆角尺寸 */
$unify-radius-xs:8rpx;
$unify-radius-sm:12rpx;
$unify-radius-md:16rpx;
$unify-radius-lg:20rpx;
$unify-radius-xl:100rpx;
$unify-radius-xxl:200rpx;

/* 全局自定义导航样式 */
.nav-bar {
	width: 750rpx;
	position: absolute;
	left: 0;
	top: 0;
}