<template>
	<view class="VideoBottomBox">
		<view class="title"><text class="title-text">@新华网</text></view>
		<view class="content"><text class="content-text">硬汉！普京浸泡冰水庆祝主显节，身着泳裤侵入冰水三次硬汉！普京浸泡冰水庆祝主显节，身着泳裤侵入冰水三次硬汉！普京浸泡冰水庆祝主显节，身着泳裤侵入冰水三次硬汉！普京浸泡冰水庆祝主显节，身着泳裤侵入冰水三次硬汉！普京浸泡冰水庆祝主显节，身着泳裤侵入冰水三次</text></view>
		<view class="flex">
			<uni-notice-bar
				:scrollable="true"
				:single="true"
				text="uni-app行业峰会频频亮相，开发者反响热烈!"
				backgroundColor="transparent"
				color="#fff"
				style="width: 400rpx;background-color: transparent;"
				:speed="50"
			/>
		</view>
	</view>
</template>

<script>
const animation = uni.requireNativePlugin('animation');
import uniNoticeBar from '../../uni-notice-bar/uni-notice-bar.vue';
export default {
	props: ['item'],
	components: {
		uniNoticeBar
	},
	data() {
		return {
			current_rotate: 0,
			url: '/hybrid/html/animate.html'
		};
	},
	mounted() {

	},
	methods: {

	}
};
</script>

<style lang="scss" scoped>
.VideoBottomBox {
	flex-direction: column;
	width: 750rpx;
	position: absolute;
	left: 0;
	bottom: 100rpx;
}
.title {
	margin-left: 20rpx;
	margin-bottom: 5rpx;
	&-text {
		font-weight: bold;
		font-size: 32rpx;
		color: #fff;
	}
}
.content {
	width: 550rpx;
	margin-left: 20rpx;
	flex-direction: column;
	&-text {
		font-size: 28rpx;
		color: #fff;
	}
}
.flex {
	width: 750rpx;
	padding: 0 20rpx;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.playerAudio {
	width: 120rpx;
	height: 120rpx;
	border-radius: 100rpx;
	position: absolute;
	right: 10rpx;
	bottom: 50rpx;
}
</style>
