@font-face {
	font-family: "iconfont";
	src: url('~@/static/iconfont/iconfont.ttf');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  /* #ifndef APP-NVUE || APP-PLUS-NVUE */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* #endif */
}
/* #ifndef APP-NVUE || APP-PLUS-NVUE */
.icon-zhiding:before {
  content: "\e62a";
}

.icon-refresh:before {
  content: "\e608";
}

.icon-saoma:before {
  content: "\e66f";
}

.icon-up:before {
  content: "\e607";
}

.icon-duigou-copy1:before {
  content: "\e631";
}

.icon-gengduo:before {
  content: "\e7e1";
}

.icon-f-caret-down-s_quark:before {
  content: "\e626";
}

.icon-erweima1:before {
  content: "\e664";
}

.icon-biaoqing1:before {
  content: "\e630";
}

.icon-biaoqing:before {
  content: "\e606";
}

.icon-aite:before {
  content: "\e658";
}

.icon-duanshipin-pinglun-02:before {
  content: "\e654";
}

.icon-pinglun1:before {
  content: "\e604";
}

.icon-shipin_zhuanfa:before {
  content: "\e61b";
}

.icon-douyin:before {
  content: "\e696";
}

.icon-jiahao1:before {
  content: "\e610";
}

.icon-zhuanfa:before {
  content: "\e628";
}

.icon-ziyuan:before {
  content: "\e618";
}

.icon-fangdajing:before {
  content: "\e61e";
}

.icon-fanhui-copy-copy:before {
  content: "\e602";
}

.icon-dingweiweizhizuobiaoxianxing:before {
  content: "\e605";
}

.icon-close:before {
  content: "\e601";
}

.icon-tanhao:before {
  content: "\e624";
}

.icon-xiangji:before {
  content: "\e617";
}

.icon-tianjiahaoyou:before {
  content: "\e627";
}

.icon-ic_arrowr:before {
  content: "\e623";
}

.icon-touxiang:before {
  content: "\e64a";
}

.icon-jiahao:before {
  content: "\e687";
}

.icon-sanhengxian:before {
  content: "\e600";
}

.icon-zhixiangx:before {
  content: "\e64e";
}

.icon-yanshipaishe:before {
  content: "\e603";
}

.icon-svg-:before {
  content: "\e61f";
}
/* #endif */




