<template>
	<!-- 
		vue页面专用底部导航
		为了兼容地图、视频等覆盖问题，用cover-view进行包裹
	-->
	<view>
		<cover-view class="container" v-if="ShowTabBar">
			<view class="tab-list">
				<view class="tab-box" ref="animate" v-for="(item, index) in tablist" :key="index" @touchstart="ClickItem(index)">
					<image :src="item.icon" v-if="item && item.icon" :class="[index == 2 ? 'camera': 'tab-box-icon']"></image>
					<text class="tab-box-text" v-if="item && item.name" :class="{active: idx == index}">{{item.name}}</text>
					<view :class="{line: idx == index && index !== 2}"></view>
				</view>
			</view>
		</cover-view>
	</view>
</template>

<script>
const animation = uni.requireNativePlugin('animation');
export default {
	props: {
		ShowTabBar: {
			type: Boolean,
			default: true
		},
		tablist: {
			type: Array
		}
	},
	data() {
		return {
			animate: 'animate',
			idx: 0
		};
	},
	created() {
		/* 引入阿里字体图标 */
		let domModule = weex.requireModule('dom');
		domModule.addRule('fontFace', {
			fontFamily: 'iconfont',
			src: "url('~@/static/iconfont/iconfont.ttf')"
		});
	},
	methods: {
		ClickItem(index) {
			this.idx = index;
			this.$emit('tabClick', this.idx)
			for (var i = 0; i < this.$refs['animate'].length; i++) {
				animation.transition(this.$refs['animate'][i], {
					styles: {
						transform: 'scale(1)'
					},
					duration: 0,
					delay: 0,
					timingFunction: 'linear'
				});
				if (i == index) {
					if(i == 2) {
						animation.transition(this.$refs['animate'][2], {
							styles: {
								transform: 'scale(1)'
							},
							duration: 200,
							delay: 0,
							timingFunction: 'linear'
						});
						const dlvideo = uni.requireNativePlugin('DLHC-AliVideo');
						dlvideo.record({
						    minDuration: 2000,
						    maxDuration: 10000,
						    resolutionMode: 3,
						    ratioMode: 2,
						    videoQuality: "HD",
						    cameraType: 0,
						    recordMode: 0,
						    videoCodec: 0,
						    sortMode: 0,
						    useAudio: true,
						    audioPath: "https://img.tukuppt.com/newpreview_music/08/99/45/5c8971b3df47794783.mp3",
						}, result => {
						    //_self.tmpData = result;
						    //此处获取到视频路径后进行逻辑处理
							this.idx = 4;
							uni.$emit('idx', this.idx)
						    
							uni.$emit('mp4',result)
						});
					}else {
						animation.transition(this.$refs['animate'][i], {
							styles: {
								transform: 'scale(1.1)'
							},
							duration: 200,
							delay: 0,
							timingFunction: 'linear'
						});
					}
				}
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.iconfont {
	font-family: iconfont;
	font-size: 32rpx;
}
.container {
	width: 750rpx;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.tab-list {
	/* #ifndef APP-NVUE || APP-PLUS-NVUE */
	display: flex;
	/* #endif */
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	border-style: solid;
	border-top-width: 1rpx;
	border-top-color: rgba(153,153,153,.2);
}
.tab-box {
	flex: 1;
	height: 50px;
	margin-top: 10rpx;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	&-text {
		font-size: 32rpx;
		line-height: 32rpx;
		color: #999;
	}
	&-icon {
		width: 32rpx;
		height: 32rpx;
		margin-bottom: 10rpx;
	}
}
.camera {
	width: 88rpx;
	height: 30px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.active {
	color: #FFFFFF;
}
.line {
	width: 80rpx;
	height: 4rpx;
	background-color: #fff;
	position: absolute;
	bottom: 5rpx;
	left: 0;
	transform: translateX(34rpx);
}
</style>
