<template name="slide-video">
	<div class="slide-video" ref="slideVideo">
		<my-loading v-if="show" :top="600"></my-loading>
		<list v-if="windowHeight > 0" :pagingEnabled="true" :show-scrollbar="false" @loadmore="loadMore" :loadmoreoffset="windowHeight" @scrollend="onScrollend">
			<cell v-for="(item, index) in lists" :key="index" :ref="'cell_' + index">
				<div class="item" :style="{ width: '750rpx', height: windowHeight }">
					<video
						id="myVideo"
						ref="myVideo"
						:style="{ width: '750rpx', height: windowHeight }"
						v-if="item.active === true"
						class="item-video"
						:src="item.src"
						:play-status="item.state"
						@play="playing(item)"
						@pause="pauseing(item)"
						:autoplay="true"
						:controls="false"
						:show-center-play-btn="false"
						:show-loading="false"
						:loop="true"
						@click="videoStop(item)"
					></video>
					<VideoBottomBox v-if="item.active === true"></VideoBottomBox>
					<VideoRightBox v-if="item.active === true"></VideoRightBox>
					<music-box v-if="item.active === true"></music-box>
					<cover-view class="playIcon" v-if="item.active === true && item.state == 'pause'" @click="startPlay(item)">
						<image src="/static/play.png" class="playIcon-img" resize="contain"></image>
					</cover-view>
<!-- 					<image
						v-if="item.active !== true"
						:src="item.cover"
						class="cover-img"
					></image> -->
				</div>
			</cell>
		</list>
	</div>
</template>

<script>
var SystemInfo = uni.getSystemInfoSync();
import myLoading from '../my-loading/my-loading.nvue';
import VideoBottomBox from './VideoBottomBox/VideoBottomBox.vue';
import VideoRightBox from './VideoRightBox/VideoRightBox.vue';
import musicBox from '../music-box/music-box.nvue';
export default {
	name: 'slide-video',
	components: {
		myLoading,
		VideoBottomBox,
		VideoRightBox,
		musicBox
	},
	props: {
		//视频列表
		lists: {
			type: Array,
			require: true
		}
	},
	data() {
		return {
			windowHeight: SystemInfo.windowHeight,
			currentIndex: 0,
			contentOffsetY: 0,
			loadIng: false,
			count: 0,
			clearMax: 30,
			clearNum: 20,
			show: true,
			noClick: true,
			page: 1, //当前页数
			url: '/hybrid/html/animate.html',
			showCover: true
		};
	},
	created() {
		this.lists.map(item => {
			item.state = 'play';
			item.active = false;
		});
		this.lists[0].active = true; //默认第一个视频播放
		this.show = false;
	},
	mounted() {
		this.videoContext = uni.createVideoContext('myVideo');
	},
	methods: {
		//暂停视频
		stopVideo() {
			this.videoContext.pause();
		},
		//播放视频
		startVideo() {
			this.videoContext.play();
		},
		// 暂停当前
		videoStop(item) {
			let that = this;
			//为了防止视频没有加载是出现点击按钮
			if (that.noClick) {
				that.noClick = false;
				setTimeout(() => {
					that.noClick = true;
					that.$set(item, 'state', 'pause'); //当前pause显示暂停图标
					uni.$emit('videoStatus', item.state);
					that.$forceUpdate();
					that.videoContext.pause();
				}, 200);
			} else {
				that.noClick = false;
			}
		},
		//继续播放
		startPlay(item) {
			this.$set(item, 'state', 'play'); //不显示暂停图标
			this.$forceUpdate();
			this.videoContext.play();
		},
		// 暂停全部
		stopAll() {
			this.lists.forEach(item => {
				this.$set(item, 'active', false); //干掉所有视频
			});
		},
		//播放当前视频
		playNow() {
			this.lists.forEach(item => {
				this.$set(item, 'state', 'play');
			});
			this.$set(this.lists[this.currentIndex], 'active', true); //指定当前视频显示播放
			this.$forceUpdate();
		},
		//当当前list.length里面的cell全部执行完毕时，会触发该方法
		loadMore(e) {
			console.log('触发了');
			this.page = this.page + 1;
			uni.$emit('page', this.page); //传给父组件请求当前是第几页
			this.show = true;
			setTimeout(() => {
				this.show = false;
			}, 3000);
		},
		onScrollend(e) {
			//上一个视频的索引下标
			let originalIndex = this.currentIndex;
			this.contentOffsetY = e.contentOffset.y;
			//当前视频的索引下标
			this.currentIndex = Math.round(Math.abs(this.contentOffsetY) / (e.contentSize.height / this.lists.length));
			if (originalIndex !== this.currentIndex) {
				this.stopAll(); //先暂停所有视频
				this.playNow(); //再播放当前视频
			}
		},
		//视频播放时会执行
		playing(item) {
			if (item.active) {
				this.$set(item, 'state', 'play');
				this.showCover = false;
				this.$forceUpdate();
			}
		},
		//视频暂停时会执行
		pauseing(item) {
			this.$set(item, 'state', 'pause');
		}
	}
};
</script>
<style scoped>
.slide-video {
	width: 750rpx;
	flex: 1;
	background-color: #000000;
}

.item {
	width: 750rpx;
	align-items: center;
	justify-content: center;
	position: relative;
}

.item-video {
	flex: 1;
	width: 750px;
}

.playIcon {
	width: 750rpx;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.playIcon-img {
	width: 120rpx;
	height: 120rpx;
}

.cover-img {
	width: 750rpx;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
</style>
