<template>
	<view class="VideoRightBox">
		<view class="list">
			<view class="user-box" @click="goUserInfo">
				<image src="/static/images/common/user.jpg" class="user"></image>
				<image class="add-icon" :src="isConcern ? concernsrc  : addsrc" @click="concernFun"></image>
			</view>
			<view class="item" v-for="(item, index) in menu" :key="index" @click="clickMenu(index, item)">
				<text :style="{ fontFamily: 'iconfont' }" class="item-icon big" :class="[index == 0 && likeFlag == true ? 'like' : '']">{{ item.icon }}</text>
				<text class="item-text">{{ item.num }}</text>
			</view>
		</view>
		<dialog width="750rpx" height="550" v-model="dialogValue">
			<view class="bottom_popup" @click.stop="">
				<view class="popup-title">
					<text class="popup-title-text">4204条评论</text>
					<text :style="{ fontFamily: 'iconfont' }" class="close" @click="close">{{ '\ue601' }}</text>
				</view>
				<view class="popup-content">
					<view class="popup-content-item" v-for="(item, index) in contentList" :key="index">
						<image src="/static/images/friend/1.jpeg" class="popup-content-item-img"></image>
						<view class="userInfo">
							<view class="user_name">
								<text class="user_name">{{ item.name }}</text>
							</view>
							<view class="comment">
								<text class="comment-text">{{ item.content }}</text>
								<text class="comment-text2">{{ item.time }}</text>
							</view>
						</view>
						<view class="like-comment" @click="likeFun(index, item)">
							<text :style="{ fontFamily: 'iconfont' }" class="like-comment-text1" :class="[item.flag ? 'like' : '']">{{ '\ue654' }}</text>
							<text class="like-comment-text2">{{ item.like_num }}</text>
						</view>
					</view>
				</view>
				<view class="popup-bottom">
					<input type="text" class="popup-bottom-input" placeholder="留下你的精彩评论吧" placeholder-style="font-size: 18rpx;" />
					<view class="menu-btn">
						<text :style="{ fontFamily: 'iconfont' }" class="menu-btn-icon">{{ '\ue658' }}</text>
						<text :style="{ fontFamily: 'iconfont' }" class="menu-btn-icon">{{ '\ue630' }}</text>
					</view>
				</view>
			</view>
		</dialog>
		<dialog width="750rpx" height="380" v-model="dialogValue2">
			<view class="bottom_popup2" @click.stop="">
				<view class="popup-title flex-start">
					<text class="popup-title-text2">私信给朋友</text>
					<view class="close-box">
						<text :style="{ fontFamily: 'iconfont' }" class="close2" @click="close2">{{ '\ue601' }}</text>
					</view>
				</view>
				<view class="popup-content2">
					<view class="inner">
						<scroll-view scroll-x="true" class="userScroll" :show-scrollbar="false">
							<view class="username" v-for="(item, index) in shareUser" :key="index">
								<image :src="item.icon" class="userimg"></image>
								<text class="usertext">{{ item.name }}</text>
							</view>
						</scroll-view>
					</view>
				</view>
				<scroll-view scroll-x="true" class="userScroll2" style="margin-top: 20rpx;" :show-scrollbar="false">
					<view class="username" v-for="(item, index) in shareNav1" :key="index">
						<image :src="item.icon" class="userimg"></image>
						<text class="usertext">{{ item.name }}</text>
					</view>
				</scroll-view>
				<scroll-view scroll-x="true" class="userScroll2" style="margin-top: 40rpx;" :show-scrollbar="false">
					<view class="username" v-for="(item, index) in shareNav2" :key="index">
						<image :src="item.icon" class="userimg"></image>
						<text class="usertext">{{ item.name }}</text>
					</view>
				</scroll-view>
			</view>
		</dialog>
	</view>
</template>

<script>
import dialog from '../../Simple-bottom-dialog/simple-bottom-dialog.nvue';
export default {
	props: ['item'],
	components: {
		dialog
	},
	data() {
		return {
			addsrc: '/static/images/common/add.png',
			concernsrc: "/static/images/common/concern.png",
			menu: [
				{
					icon: '\ue654',
					num: 7162
				},
				{
					icon: '\ue604',
					num: 50
				},
				{
					icon: '\ue61b',
					num: 161
				}
			],
			likeFlag: false,
			dialogValue: false,
			dialogValue2: false,
			likeFlag2: false,
			contentList: [
				{ id: 1, name: '挽风留雨伊人醉', content: '胆大包天啊! 一定严惩不贷！', flag: false, time: '5小时前', like_num: 7692 },
				{ id: 2, name: '挽风留雨伊人醉', content: '胆大包天啊! 一定严惩不贷！', flag: false, time: '5小时前', like_num: 7692 },
				{ id: 3, name: '挽风留雨伊人醉', content: '胆大包天啊! 一定严惩不贷！', flag: false, time: '5小时前', like_num: 7692 },
				{ id: 4, name: '挽风留雨伊人醉', content: '胆大包天啊! 一定严惩不贷！', flag: false, time: '5小时前', like_num: 7692 },
				{ id: 5, name: '挽风留雨伊人醉', content: '胆大包天啊! 一定严惩不贷！', flag: false, time: '5小时前', like_num: 7692 },
				{ id: 6, name: '挽风留雨伊人醉', content: '胆大包天啊! 一定严惩不贷！', flag: false, time: '5小时前', like_num: 7692 }
			],
			shareUser: [
				{ icon: '/static/images/common/1.jpg', name: '今日回味仍然吸引' },
				{ icon: '/static/images/common/2.jpeg', name: '资本、社会' },
				{ icon: '/static/images/common/3.jpg', name: '回头不是岸' },
				{ icon: '/static/images/common/4.jpg', name: '来不及放弃你@' },
				{ icon: '/static/images/common/5.jpg', name: '寂寞在寂寞中' },
				{ icon: '/static/images/common/6.jpg', name: '固执旳活在无知' },
				{ icon: '/static/images/common/7.jpg', name: '女人u、加油' },
				{ icon: '/static/images/common/8.jpg', name: '只爱你一个女人' },
				{ icon: '/static/images/common/9.jpg', name: 'mm°寡人要睡觉`' },
				{ icon: '/static/images/common/10.jpg', name: '请叫我阿宅。' }
			],
			shareNav1: [
				{ icon: '/static/images/videoShares/1.png', name: '私信朋友' },
				{ icon: '/static/images/videoShares/2.png', name: '转发' },
				{ icon: '/static/images/videoShares/3.png', name: '朋友圈' },
				{ icon: '/static/images/videoShares/4.png', name: '微信好友' },
				{ icon: '/static/images/videoShares/5.png', name: 'QQ空间' },
				{ icon: '/static/images/videoShares/6.png', name: 'QQ好友' },
				{ icon: '/static/images/videoShares/7.png', name: '多闪' },
				{ icon: '/static/images/videoShares/8.png', name: '微博' }
			],
			shareNav2: [
				{ icon: '/static/images/videoShares/1-1.png', name: '举报' },
				{ icon: '/static/images/videoShares/1-2.png', name: '保存本地' },
				{ icon: '/static/images/videoShares/1-3.png', name: '收藏' },
				{ icon: '/static/images/videoShares/1-4.png', name: '合拍' },
				{ icon: '/static/images/videoShares/1-5.png', name: '抢镜' },
				{ icon: '/static/images/videoShares/1-6.png', name: '动态壁纸' },
				{ icon: '/static/images/videoShares/1-7.png', name: '不感兴趣' },
				{ icon: '/static/images/videoShares/1-8.png', name: '复制链接' },
				{ icon: '/static/images/videoShares/1-9.png', name: '抖音码' },
				{ icon: '/static/images/videoShares/1-10.png', name: '上热门' }
			],
			isConcern: false
		};
	},
	methods: {
		clickMenu(index, item) {
			if (index == 0) {
				this.likeFlag = !this.likeFlag;
				if (this.likeFlag) {
					this.$set(item, 'num', 7163);
				} else {
					this.$set(item, 'num', 7162);
				}
			} else if (index == 1) {
				this.dialogValue = !this.dialogValue;
			} else if (index == 2) {
				this.dialogValue2 = !this.dialogValue2;
			}
		},
		close(e) {
			e.stopPropagation();
			this.dialogValue = false;
		},
		close2() {
			this.dialogValue2 = false;
		},
		//点赞
		likeFun(index, item) {
			item.flag = !item.flag;
			if (item.flag) {
				this.$set(item, 'like_num', 7693);
			} else {
				this.$set(item, 'like_num', 7692);
			}
		},
		//关注
		concernFun(e) {
			e.stopPropagation();
			this.isConcern = !this.isConcern;
		},
		goUserInfo() {
			this.$parent.stopVideo()
			uni.navigateTo({
				url: `/pages/userInfo/userInfo?concern=${this.isConcern}`
			});
		}
	}
};
</script>

<style>
.VideoRightBox {
	flex-direction: column;
	justify-content: center;
	position: absolute;
	right: 20rpx;
	bottom: 300rpx;
}
.list {
	flex-direction: column;
	align-items: center;
	flex: 1;
}
.item {
	flex-direction: column;
	align-items: center;
	margin-bottom: 20rpx;
	position: relative;
}
.user-box {
	width: 100rpx;
	height: 120rpx;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30rpx;
	position: relative;
}
.user {
	width: 100rpx;
	height: 100rpx;
	border-radius: 50%;
}
.add {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 45rpx;
	height: 45rpx;
	border-radius: 100rpx;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #fd2e55;
	transform: translateX(30rpx);
}
.add-icon {
	width: 40rpx;
	height: 40rpx;
	position: absolute;
	bottom: 6rpx;
	left: 32rpx;
}
.item-icon {
	font-size: 58rpx;
	color: #fff;
}
.big {
	font-size: 64rpx;
}
.item-text {
	font-size: 28rpx;
	color: #fff;
}
.like {
	color: red;
}
.bottom_popup {
	width: 750rpx;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-top-left-radius: 20rpx;
	border-top-right-radius: 20rpx;
}
.popup-title {
	width: 750rpx;
	border-top-left-radius: 20rpx;
	border-top-right-radius: 20rpx;
	height: 80rpx;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}
.popup-title-text {
	font-size: 26rpx;
	color: #333;
	font-weight: bold;
}
.close {
	font-size: 20rpx;
	color: #333;
	font-weight: bold;
	position: absolute;
	right: 40rpx;
	top: 25rpx;
}
.close2 {
	font-size: 20rpx;
	color: #fff;
	font-weight: bold;
}
.popup-content {
	padding: 0 40rpx;
	padding-right: 20rpx;
}
.popup-content-item {
	flex-direction: row;
	position: relative;
	margin-bottom: 50rpx;
}
.popup-content-item-img {
	width: 60rpx;
	height: 60rpx;
	border-radius: 100rpx;
}
.userInfo {
	margin-left: 20rpx;
}
.user_name {
	font-size: 26rpx;
	color: #888b90;
}
.comment {
	flex-direction: row;
	align-items: center;
}
.comment-text {
	font-size: 28rpx;
	color: #333;
	margin-top: 6rpx;
}
.comment-text2 {
	font-size: 26rpx;
	color: #8b8c91;
	margin-left: 15rpx;
}
.like-comment {
	flex-direction: column;
	align-items: center;
	position: absolute;
	right: 0;
	bottom: 0;
}
.like-comment-text1 {
	font-size: 32rpx;
	color: #dcdcde;
}
.like-comment-text2 {
	font-size: 26rpx;
	color: #dcdcde;
	margin-top: 4rpx;
}
.popup-bottom {
	width: 750rpx;
	position: absolute;
	bottom: 0;
	left: 0;
	flex-direction: row;
	align-items: center;
	padding: 0 40rpx;
	padding-right: 0;
	border-style: solid;
	border-top-color: #d1d1d3;
	border-top-width: 1rpx;
}
.popup-bottom-input {
	flex: 1;
	height: 120rpx;
}
.menu-btn {
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.menu-btn-icon {
	font-size: 40rpx;
	color: #8b8a92;
	margin-right: 30rpx;
}
.bottom_popup2 {
	border-top-left-radius: 20rpx;
	border-top-right-radius: 20rpx;
	background-color: #161616;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.flex-start {
	justify-content: space-between;
	padding: 0 30rpx;
	height: 120rpx;
}
.popup-title-text2 {
	font-size: 30rpx;
	color: #e8e8e8;
}
.close-box {
	width: 60rpx;
	height: 60rpx;
	border-radius: 100rpx;
	background-color: #242424;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.popup-content2 {
	padding: 0 30rpx;
}
.inner {
	padding-bottom: 20px;
	border-bottom-color: #313131;
	border-bottom-width: 2rpx;
	border-style: solid;
}
.userScroll {
	width: 750rpx;
	flex-direction: row;
}
.username {
	width: 130rpx;
	flex-direction: column;
	align-items: center;
	margin-right: 15rpx;
}
.userimg {
	width: 100rpx;
	height: 100rpx;
	border-radius: 100rpx;
}
.usertext {
	font-size: 24rpx;
	color: #e8e8e8;
	margin-top: 15rpx;
}
.userScroll2 {
	width: 750rpx;
	flex-direction: row;
	align-items: center;
	padding: 0 30rpx;
}
</style>
